<html>
    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  
<body class="container">
<h2>Update Recipe</h2>

    <form id="input" method="POST" action="/editRecipe/{{_id}}">
    {{#recipe}}
   
        <div class="form-group">
            <label for="dishName">Dish Name:</label>
            <input type="text" class="input-fields" id="dishName" name="dishName" value="{{dishName}}" required>
        </div>

         <p></p>

        <div class="form-group">
            <label for="dishDescription">Dish Description:</label>
            <textarea class= "textarea-input" id="dishDescription" name="dishDescription" placeholder="testing 123" required>{{dishDescription}}</textarea>
            <br>
        </div>

         <p></p>

        <div class="form-group">
            <label for="menuCategory">Choose a Category:</label>
            <select id="menuCategory" name="menuCategory" value="{{dishDescription}} class="input-fields" required>
                <option value="">None</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
            </select>
        </div>

        <p></p>

        <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea class= "textarea-input"id="ingredients" name="ingredients" required>{{ingredients}}</textarea>
        </div>

         <p></p>

        <div class="form-group">
            <label for="allergies">Allergies:</label>
            <input type="text" class="input-fields" id="allergies" name="allergies" value="{{allergies}}" required>
        </div>

         <p></p>

        <div class="form-group">
            <label for="cost">Cost:</label>
            <input type="number" class="input-fields" id="cost" step="0.01" name="cost" value="{{cost}}" required>
        </div>

         <p></p>

        <div class="form-group">
            <label for="isAvailable">Choose Availability:</label>
            <select id="isAvailable" name="isAvailable" value={{isAvailable}} class="input-fields" required>
                <option value=true>Display</option>
                <option value=false>Hide</option>
            </select>
        </div>

         <p></p>

        <div class="btn btn-primary">
               <button class="actionButton" type="submit" formmethod="post" formaction='/editRecipe/{{_id}}'>Update Recipe</button>
               <button class="actionButton" type="submit" formaction="/deleteRecipe/{{_id}}" formmethod="get">Delete Recipe</button>
            </div>
            {{/recipe}}
    </form>
</body>
</html>