<html>
    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<nav>
<div class="topnav" id="myTopnav">
  <a href="/loggedIn" class="active">Home</a>
  <a href="/adminLunchMenu">Lunch Menu</a>
  <a href="/adminDinnerMenu">Dinner Menu</a>
   <a href="/newRecipe" class="button">
    Add New Recipe
    </a>
    <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
    </a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  </nav>
  

<body class="container">
<h2>Update Recipe</h2>
{{#recipe}}
    <form id="input" method="POST" action="/editRecipe">
   
        <div class="form-group">
            <label for="dishName">Dish Name:</label>
            <input type="text" class="input-fields" id="dishName" name="dishName" value="{{dishName}}" required>
        </div>

         <p></p>

        <div class="form-group">
            <label for="dishDescription">Dish Description:</label>
            <textarea class= "textarea-input"id="dishDescription" value="{{dishDescription}}" name="dishDescription" required></textarea>
            <br>
        </div>

         <p></p>

        <div class="form-group">
            {{! <label for="menuCategory">Choose a Category: </label>
            <input type="text" class="input-fields" id="menuCategory" name="menuCategory" placeholder="Please enter Lunch or Dinner" required> }}
            <label for="menuCategory">Choose a Category:</label>
            <select id="menuCategory" name="menuCategory" class="input-fields" required>
                <option value="">None</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
            </select>
        </div>

        <p></p>

        <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            {{! <input type="text" class="input-fields" id="ingredients" name="ingredients" value="{{ingredients}}" required> }}
            <textarea class= "textarea-input"id="ingredients" value="{{ingredients}}"  name="ingredients" required></textarea>
        </div>

         <p></p>

        <div class="form-group">
            <label for="allergies">Allergies:</label>
            <input type="text" class="input-fields" id="allergies" name="allergies" value="{{allergies}}" required>
        </div>

         <p></p>

        <div class="form-group">
            <label for="cost">Cost:</label>
            <input type="number" class="input-fields" id="cost" step="0.01" name="cost" value="{{cost}}" required>
        </div>

         <p></p>

         <div class="form-group">
            <label for="isAvailable">IsAvailable:</label>
            <input type="checkbox" class="input-fields" id="isAvailable" name="isAvailable" value="{{isAvailable}}" required>
        </div>

         <p></p>


        <div class="btn btn-primary">
               <button class="actionButton" type="submit" formaction="/updateRecipe" formmethod="post">Update Recipe</button>
               <button class="actionButton" type="submit" formaction="/deleteRecipe" formmethod="post">Delete Recipe</button>
               <button class="actionButton" type="submit" formaction="/adminRecipes" formmethod="get" formnovalidate>Back</button>
            </div>
            
    </form>
    {{/recipe}}
</body>
</html>