<html>
    <head>
    </head>
    <body>
        <h1>{{title}}</h1>
        {{#recipes}}
            <div>
                <h4>{{dishName}}</h4>
                <p>
                    {{dishDescription}}
                </p>
                <p>
                    {{ingredients}}
                </p>
                <p>
                    {{allergies}}
                </p>
                <div>
                    <p>Price: {{cost}}</p>
                </div>
            </div>
            <hr>
        {{/recipes}}
        {{^recipes}}
            No entries yet.
        {{/recipes}}
    </body>
</html>