<html>

 <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

   <nav>
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/lunchmenu">Lunch Menu</a>
  <a href="/dinnermenu">Dinner Menu</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  </nav>

<body>
<div class="container" class="justify-content-about">
   <h3 class="menu-item-heading">Welcome to the Restaurant Home Page</h3>
    <p class="menu-item-description"> Welcome to our site. We're dedicated to giving you the very best experience with a focus on dependability,
        customer service and uniqueness.</p>
    <p class="menu-item-description">We have come a long way from our beginnings when our passion drove us to carry out intense research and gave us
        the impetus to turn hard work and inspiration into to a booming online presence.</p>

    <p class="menu-item-description"> We hope you enjoy our site. If you have any questions or comments, please don't hesitate to contact us.</p>
</div>

</body>

</html>